<h2> Sign Up </h2>


<form method="POST" action="/users">
  <label>Name: </label>&nbsp
  <input type="text" name="name" placeholder="required" />
  </br></br>
  <label>Email: </label>&nbsp
  <input type="text" name="email" placeholder="required" />
  </br></br>
  <label>Gender: </label>&nbsp
  <input type="text" name="gender" />
  </br></br>
  <label>Picture: </label>&nbsp
  <input type="text" name="picture" />
  </br></br>
  <label>Date of Birth: </label>&nbsp
  <input type="text" name="dob" placeholder="Year/Month/Day" />
  </br></br>
  <label>Phone: </label>&nbsp
  <input type="text" name="phone" />
  </br></br>
  <label>Location: </label>&nbsp
  <input type="text" name="location" />
  </br></br>
  <label>Password: </label>&nbsp
  <input type="password" name="password" placeholder="required"/>
  </br></br>
  <label>Confirm Password: </label>&nbsp
  <input type="text" name="password_confirmation" placeholder="required" />
  </br></br>

  <input type="submit" value="Sign up" />
</form>
